# Simula delay em consultas no banco de dados
SIMULATE_WAIT_IN_MS=0

# Tamanho máximo para upload de imagem em Bytes
NEXT_PUBLIC_IMAGE_MAX_SIZE_IN_BYTES=921600 # 900KB * 1024 = 921600B

# Nome da pasta onde imagens são salvas após upload
IMAGE_UPLOAD_DIR=uploads

# URL do servidor de imagens (sem barra final)
IMAGE_SERVER_URL='http://localhost:5000'

# Tempo para o login expirar (use o mesmo valor em seconds e string)
# Ex.: 60 -> 1min, 600 -> 10min, 3600 -> 1h, 86400 -> 1d
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING=1d

# Nome do cookie usado para login
LOGIN_COOKIE_NAME='loginSession'

# Permite ou não o login (0 = não, 1 = sim)
ALLOW_LOGIN=1

# URL da API externa
# Utilizar a porta interna do container, não a externa. ex.: 'http://backend:8080'
API_URL='http://backend:8080'