# Simula delay em consultas no banco de dados
SIMULATE_WAIT_IN_MS=500

# Tamanho máximo para upload de imagem em Bytes
NEXT_PUBLIC_IMAGE_MAX_SIZE_IN_BYTES=921600 # 900KB * 1024 = 921600B

# Nome da pasta onde imagens são salvas após upload
IMAGE_UPLOAD_DIR=uploads

# URL do servidor de imagens (sem barra final)
IMAGE_SERVER_URL='http://localhost:3000/uploads'