# Simula delay em consultas no banco de dados
SIMULATE_WAIT_IN_MS=0

# Tamanho máximo para upload de imagem em Bytes
NEXT_PUBLIC_IMAGE_MAX_SIZE_IN_BYTES=921600 # 900KB * 1024 = 921600B

# Nome da pasta onde imagens são salvas após upload
IMAGE_UPLOAD_DIR=uploads

# URL do servidor de imagens (sem barra final)
IMAGE_SERVER_URL='http://localhost:3000/uploads'

# Chave usada para assinar os tokens JWT
# Use o arquivo src/utils/generateHashedSecretOrPassword.ts (npx tsx) para gerar sua secret key
JWT_SECRET_KEY='YOUR_SECRET_HERE'

# Tempo para o login expirar (use o mesmo valor em seconds e string)
# Ex.: 60 -> 1min, 600 -> 10min, 3600 -> 1h, 86400 -> 1d
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING=1d

# Nome do cookie usado para login
LOGIN_COOKIE_NAME='loginSession'

# Nome de usuário usado para logar no site em /admin/login
LOGIN_USER='YOUR_USERNAME_HERE'
# Use o arquivo src/utils/generateHashedSecretOrPassword.ts (npx tsx) para gerar seu hash de senha
LOGIN_PASS='YOUR_HASHED_PASSWORD_HERE'

# Permite ou não o login (0 = não, 1 = sim)
ALLOW_LOGIN=1

